<div class="alignleft">
  <h3><% if (config.subtitle){ %><%= config.subtitle %><% } %></h3>
  <h4><a href="<%- config.root %>"><%= config.title %></a></h4>
</div>

  <div class="navigation">
  <div class="col-md-2 avatar">
    <img src="/nana_s.jpg" class="nana"/>
  </div>
  <nav id="main-nav" class="col-sm-10" >
    <ul>
      <% for (var i in theme.menu){ %>
        <li class="col-sm-4"><a href="<%- theme.menu[i] %>"><%= i %></a></li>
      <% } %>
    </ul>
  </nav>
</div>